@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Geist', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

.blend {
    mix-blend-mode: difference; 
}